
.curseclient

crash-reports/
/local/ftbchunks/data

logs/

minecraftinstance.json

mods/

options.txt

BotaniaVars.dat

.vote2020_marker

patchouli_data.json

realms_persistence.json

resourcepacks/Quark Programmer Art.zip

saves/
/XaeroWaypoints
/XaeroWaypoints_BACKUP062020
/XaeroWorldMap

usercache.json

usernamecache.json

backups/

local/ftbutilities/backups.json

config/jei/bookmarks.ini

screenshots/

openvr/

optionsof.txt

optionsviveprofiles.txt

structurize/scans/new/

servers.dat

shaderpacks/

optionsshaders.txt

mod backups/

config/config.zip

config/resourcefulbees/bees.zip
